Port 2022
HostKey /ssh/ssh_host_rsa_key
HostKey /ssh/ssh_host_ecdsa_key
HostKey /ssh/ssh_host_ed25519_key
LogLevel DEBUG3
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
UsePrivilegeSeparation no
UsePAM yes
X11Forwarding yes
PrintMotd no
PidFile /ssh/sshd.pid
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server